<div class="box">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <img src="{{ productDetails.image }}" alt="" />
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="info">
        <ul class="list-unstyled">
          <li><strong>Title: </strong>{{ productDetails.title }}</li>
          <li><strong>Category: </strong>{{ productDetails.category }}</li>
          <li>
            <strong>Description: </strong>{{ productDetails.description }}
          </li>
          <li><strong>Rate: </strong>{{ productDetails.rating.rate }}</li>
          <li><strong>Count: </strong>{{ productDetails.rating.count }}</li>
          <li><strong>Price: </strong>{{ productDetails.price }} L.E</li>
        </ul>
      </div>
    </div>
  </div>
</div>
